.cs-nav_list > li.dropdown_arrow_none > a::after{
    display: none !important;
}

.ft_logo{
    max-width: 90px;
}

.cs-munu_dropdown_toggle{
    display: none;
}

.cs-scrollup{
    display: none;
}

.ButtonBase__Overlay-sc-p43e7i-4{
    padding: 8px !important;
}

.lkMZyR > span > div, .lkMZyR svg{
    width: 24px !important;
    height: 24px !important;
}

.fESTRz{
    width: 8px !important;
    height: 8px !important;
}

video{
    width: 100%;
}

  .video-wrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  .cs-funfact_wrap.cs-type1{
    margin-top: 700px !important;
  }


  @media screen and (max-width:600px) {
    .cs-funfact_wrap.cs-type1{
      margin-top: 225px !important;
    }
  }

  .about-page  .cs-funfact_wrap.cs-type1{
    margin-top: 0 !important;
  }

  .cs-hero.cs-style1{
    padding: 0 !important;
    height: 100% !important;
    min-height: 100% !important;
  }